<% if obj.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h3>
      <%= pluralize(obj.errors.count, "error") %> on validation, please review the form and try again:
    </h3>
    <ul>
      <% obj.errors.full_messages.each {|msg| %>
        <li><%= msg %></li>
      <% } %>
    </ul>
  </div>
<% end %>